* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  padding: 10px 10vw;
  background: #2B423C;
  color: white;
  height: 160px;
}

header h2 {
  color: #8FD173;
}

header * {
  font-weight: 300;
}

section {
  padding: 10px 10vw;
}

.star {
  margin-left: 10px;
  font-size: 1em;
  color: rgb(184, 133, 3);
  cursor: pointer;
}

button.star {
  margin-left: 10px;
}

.repos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.repo {
  border: solid 1px #8FD173;
  padding: 0.75rem 1rem;
  word-wrap: break-word;
}

.repo h3 {
  font-size: 1.1rem;
  margin-top: 0;
}

.repo p:last-child {
  margin-bottom: 0;
}
